html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.main_common{
    display: inline-block;
}

#container {
    border: 1px solid red;
    height: 620px;
    width: 1120px;
    position: relative;
}

#mainCanvas{
    border: 1px solid black;
}

#history{
    border: 1px solid blue;
    height: 600px;
    width: 300px;
    left: 810px;
    top: 0px;
    position: absolute;
}

#controls {
    bottom: 100px;
    left: 160px;
    width: 400px;
    height: 50px;
    position: relative;
}

#commitMessage, #showCommit{
    height: 100px;
    width: 450px;
}

.button{
    margin: 3px;
    padding: 2px;
}

.button, .buttonImage{
    /*background-color: ;*/
    border: None;
}