html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#container {
    position: absolute;
    height: 620px;
    width: 1120px;
    border: 1px solid red;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#mainCanvas{
    border: 1px solid black;
    position: absolute;
    left: 0;
}

#history{
    /*border: 1px solid blue;*/
    height: 600px;
    width: 300px;
    left: 810px;
    top: 0;
    position: absolute;
}

#controls {
    bottom: 70px;
    left: 160px;
    width: 400px;
    height: 50px;
    position: absolute;
}

#commitMessage, #showCommit{
    height: 100px;
    width: 450px;
}

.button{
    margin: 3px;
    padding: 2px;
}

.button, .buttonImage{
    /*background-color: ;*/
    border: None;
}

.nonPadding{
    padding: 0;
}